@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body{
    margin-left: 20%;
    margin-top: 4%;
}
    
 
    
p{
    margin-right: 20%;
    margin-top: 5%;
    color: rgb(0, 56, 211);
    font-size: 22px;
    font-weight: 1000;


    box-shadow: 0px -40px 0px -12.5px rgb(121, 121, 121);
}
    

.container:hover{
    cursor: pointer;
    color: black;
}
 
p:hover{
    color: black;
    font-size: 22px;
    font-weight: 1000;
}


.div-accordion{
    margin-bottom: 5%;
    display:none;
    margin-left: 16%;
}

.div-accordion-2{
    margin-bottom: 5%;
    display:none;
    margin-left: 16%;
}

.div-accordion-3{
    margin-bottom: 5%;
    display:none;
    margin-left: 16%;
}

.div-accordion-4{
    margin-bottom: 5%;
    display:none;
    margin-left: 16%;
}

.div-accordion-5{
    margin-bottom: 5%;
    display:none;
    margin-left: 16%;
}

.title-accordion:hover+.div-accordion {
    display:block;
    
  }

  .img-accordion{
    animation: width 1s;
  }

  @keyframes width {

    from {width:0px;}
    
    to {width:351px;}
    
    }

  .title-accordion-2:hover+.div-accordion-2 {
    display:block;
  }

  .title-accordion-3:hover+.div-accordion-3 {
    display:block;
  }

  .title-accordion-4:hover+.div-accordion-4 {
    display:block;
  }

  .title-accordion-5:hover+.div-accordion-5 {
    display:block;
  }